body {
  font-size: 16px;
  font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  line-height: 1.6;
}

label {
  margin-right: 10px;
}

input {
  margin-right: 10px;
}

button {
  margin-right: 10px;
}
